@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-melodrama);
}

@supports(padding: env(safe-area-inset-top)) {
  body {
    background-color: #000 !important;
    color-scheme: dark;
  }
}